{% extends 'base.html' %}
{% block title %}Detalhes do Produto{% endblock %}
{% block content %}

{% if var_keys.0 %}
    <h2>Detalhes do Jogo</h2>
    <p><strong>Nome:</strong> {{games.title_game}}</p>
    <p><strong>Avaliação:</strong> {{games.game_star}}</p>
    <p><strong>Ano de Lançamento:</strong> {{games.year_game}}</p>
    <p><strong>Empresa:</strong> {{games.enterprise_game}}</p>
    <p><strong>Publicado:</strong> {{games.publisher_game}}</p>
    <p><strong>Desenvolvedores:</strong> {{games.devs_game.all}}</p>

    <a href="{% url 'atualizar_jogos' games.pk %}">Editar Jogo</a>

{% elif var_keys.1%}
    <h2>Detalhes da Empresa </h2>
    <p><strong>Nome:</strong> {{empresa.enterprise_name}}</p>
    <p><strong>Ano de Criação:</strong> {{empresa.enterprise_year}}</p>

    <a href="{% url 'atualizar_empresas' empresa.pk %}">Editar Empresa</a>

{% elif var_keys.2%}
    <h2>Detalhes da Publisher </h2> 
    <p><strong>Nome:</strong> {{publisher.publisher_name}}</p>
    <p><strong>Ano de Criação:</strong> {{publisher.publisher_year}}</p>
    <p><strong>Empresa:</strong> {{publisher.enterprise_pub}}</p>


    <a href="{% url 'atualizar_publisher' publisher.pk %}">Editar Publisher</a>

{% elif var_keys.3%}
    <h2>Detalhes do Desenvolvedor </h2> 
    <p><strong>Nome:</strong> {{devs.dev_name}}</p>
    <p><strong>Sobrenome:</strong> {{devs.dev_last_name}}</p>
    <p><strong>Apelido:</strong> {{devs.dev_nickname}}</p>
    <p><strong>Idade:</strong> {{devs.dev_years}}</p>
    <p><strong>Empresas (Experiência):</strong> {{devs.enterprises.all}}</p>

    <a href="{% url 'atualizar_dev' devs.pk %}">Editar Desenvolvedor</a>
    
{% else %}
{% endif %}

{% endblock %}
